<div class="website">
  <div>
    <h1>Add your article</h1>
    <div class="content">
      <div>
        <%= form_for(@article) do |f| %>
        <div>
          <%= f.label :title %> <br>
          <%= f.text_field :title %>
        </div>

        <div>
         <%= f.label :content %> <br>
         <%= f.text_field :content %>
       </div> <br>
       <%= f.submit %>
       <% end %>
     </div>
   </div>
 </div>
</div>