<div class="website">
  <div class="total">
    <h1> <%= @article.title %> </h1>
    <div class="content">
      <%= markdown(@article.content) %> 
      <br><br>
      <%= link_to "edit", edit_article_path(@article)  %> <br>
      <%= link_to "delete", article_path(@article), method: :delete, 
      data: {confirm: "Are your sure?"} %> <br>
      <%= link_to "back", articles_path  %>
    </div>

  </div>
</div>


